<?xml version="1.0"?>
<configuration>
  <connectionStrings>

      <!--<add name="ConnectionStringMySQL"
           connectionString="server=localhost; user id=root; password=rootroot; database=segattoufficiale; pooling=true; ConnectionIdleTimeout=10; Convert Zero Datetime=True;SSL Mode=None"
           providerName="MySqlConnector"/>-->

  </connectionStrings>
  <appSettings>
  
    <add key="WebMasterMail" value="webmaster@impresaedilesegatto.it"/>
    <add key="InfoMail" value="info@impresaedilesegatto.it"/>
    <add key="InfoMailCopia" value="info@ideawebtreviso.it"/>
    <add key="Eccezioni" value="errori@ideawebtreviso.it"/>
    <add key="SMTPServer" value="smtp.impresaedilesegatto.it"/>
    <add key="SMTPServerUsername" value="webmaster@impresaedilesegatto.it"/>
    <add key="SMTPServerPassword" value="clubgalassia"/>

    <add key="DefaultCulture" value="it-it"/>
    <!-- GESTIONALE -->
    <add key="percorsoUploadImmaginiGestionale" value="public/upload-immagini-gestionale/"/>
    <add key="percorsoUploadPDFGestionale" value="public/generazione-pdf-gestionale/"/>
    <add key="percorsoUploadGestionaleScansioni" value="public/gestionale-scansioni/"/>
    <!-- timeout di autenticazione login/logout stabilito qui! 1 giorno = 24ore*60min*60sec = 86400sec -->
    <add key="timeoutInSecondiFormsAuthenticationTicket" value="86400"/>
  </appSettings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!-- nota: il timeout è stabilito da codice cs ed è gestito attraverso la variabile 
        appSettings["timeoutInSecondiFormsAuthenticationTicket"] in questo webconfig -->
      <forms name="GestionaleIdeaWebCookie" loginUrl="login.aspx" defaultUrl="/gestionale/Default.aspx" protection="All" path="/"/>
    </authentication>
    <!-- impostiamo il limite per l'invio normale del post a 100000 kb -->
    <!--<httpRuntime requestValidationMode="2.0" maxRequestLength="16384" executionTimeout="200" />-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="100000" executionTimeout="200"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="amministrazione">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="gestionale">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- limite per l'invio json è di 102400 byte, noi impostiamo a 100mega -->
        <jsonSerialization maxJsonLength="100000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <!--<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>-->
      <add name="MySqlConnector"
  invariant="MySqlConnector"
  description="MySQL Connector for .NET"
  type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
    </DbProviderFactories>
 </system.data>
  </configuration>